* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-nav {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100vw;
}

.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  height: 300px;
  width: 100vw;
  font-size: 20px;
}
.home-container > p {
  font-size: 30px;
  margin: 40px;
  background-color: orangered;
  color: white;
  padding: 20px;
}

.products-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
  background-color: olivedrab;
}

.products-container h1 {
  background-color: whitesmoke;
  padding: 50px;
  font-size: 50px;
  color: black;
}

.products-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  height: 100px;
  margin: 0px 20px;
  padding: 20px;
}

.products-card h2 {
  background-color: orange;
  padding: 10px;
  color: white;
}
.products-card a {
  padding: 10px;
  font: 20px;
  text-decoration: none;
  color: black;
}

.products-card h5 {
  background-color: white;
  font-size: 20px;
}
