* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: grey;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1,
h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
  font-weight: 500;
}

.top-header {
  position: relative;
  color: #aaa;
  background-color: #222;
  height: 133px;
  padding: 67px 133px;
}
/* design */
.top-header:after {
  position: absolute;
  padding-bottom: 0.5px;
  transform: rotate(180deg);
  padding-top: 5px;
  top: 133px;
  width: 100%;
  height: 15px;
  content: '|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__|||||__';
  z-index: 1;
  margin-left: -133px;
  border: 2px solid;
}
header {
  position: relative;
  background-color: #efb600;
  width: 100%;
  z-index: 2;
  padding: 52px;
}
.logo {
  position: relative;
  /* logo */
  background-size: cover;
  width: 62px;
  height: 50px;
  bottom: 20px;
  right: 10px;
  border: 0;
  outline: none;
}

nav ul,
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li,
footer ul li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin: 0 20px;
  height: 30px;
  color: #ffffff;
}
nav ul li:after,
footer ul li:after {
  border-right: 2px solid #333333;
}

nav ul li:first-of-type {
  margin-left: 0;
}

footer ul li:last-of-type {
  margin-right: 0;
}

nav a,
footer a {
  color: #333333;

  font-weight: bolder;

  text-decoration: none;

  text-transform: uppercase;
}
.main-content {
  position: relative;
  min-height: 267px;
}

main {
  position: relative;
  float: left;
}

main .pic-1 {
  position: relative;

  float: left;
  /* man working */
  background-image: url('images/services.jpg');
  background-size: cover;
  box-shadow: inset 0 0 0 1000px #00000029;
  width: 100vw;
}

main .pic-2 {
  position: relative;
  float: left;
  /* man working */
  background-image: url('images/crew.jpg');
  background-size: cover;
  box-shadow: inset 0 0 0 1000px #00000029;
  width: 100vw;
}

main .pic-3 {
  position: relative;

  float: left;
  /* man working */
  background-image: url('images/contact.jpg');

  background-size: cover;

  box-shadow: inset 0 0 0 1000px #00000029;

  width: 100vw;
}

footer {
  position: relative;
  clear: both;
  background-color: #222;
  height: auto;
  padding: 33.3px;
  text-align: right;
}

footer div {
  color: white;
}

footer a {
  color: #efb600;
}

footer > div {
  margin: 0 0 20px 0;
}

.no-display {
  display: none;
}

.home {
  position: relative;
  margin: 160px 133.3px 0 133.3px;
  text-align: center;
}

.home h1,
h2 {
  color: white;

  font-size: 40px;

  text-transform: uppercase;

  text-align: center;

  padding: 26.6px;
}

.home h2 {
  font-size: 30px;

  font-family: 'Open Sans', sans-serif;
}

.home button {
  color: #efb600;
  background-color: black;
  padding: 13.3px 40px;
  font-size: 15pt;
  border: 2px solid #efb600;
  margin-bottom: 66.6px;
}
