* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main,
footer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

main {
  height: 30vh;
}

button {
  position: absolute;
  font-size: large;
  display: flex;
  top: 20vh;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.light-theme {
  background-color: #d8d6d8;
  color: #333333;
}

.dark-theme {
  background-color: #333333;
  color: #ed623b;
  background-color: rgb(44, 38, 38);
}
