html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* create a grid will 12 cards in the container
 */
#grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* cant use fr with rows have to use pixels */
  /* done add row here....add it for each element */
  /* grid-template-columns: repeat(12); */
}

header {
  font-size: 22px;
  text-align: center;
  grid-column: 1/-1;
  background-color: dodgerblue;
  padding: 10px;
}

nav {
  background-color: rgb(48, 83, 118);
  grid-column: 11 / 13;
  grid-row: 2 / 13;
  padding: 5px;
  text-align: center;
  border-radius: 8%;
}

main {
  background-color: rgb(27, 213, 167);
  text-align: center;
  grid-column: 1 / 11;
  grid-row: 2 /13;
  padding: 10px;
}

footer {
  background-color: dodgerblue;
  text-align: center;
  grid-column: 1/ 13;
  padding: 10px;
}
