@font-face {
  font-family: 'supermario';
  src: url('assets/fonts/SuperMario256.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

body {
  background-color: bisque;
  overflow: hidden;
}

#main-container {
  position: relative;
  background-image: url(images/mario2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

header {
  position: absolute;
  /* middle */
  width: 40%;
  /* position: fixed; */
  top: 57%;
  left: 60%;
  /* centers it */
  transform: translate(-50%, -50%);
  color: white;
}
h1 {
  font-family: 'supermario';
  color: white;
}

.character {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* width: 100px; */
  width: 250px;
  height: 100px;
  /* transition: all 1s ease; */
  cursor: pointer;
  /* border: 1px solid red; */
}
.character:hover {
  transition: all 0.1s ease;
  padding-left: 30px;
}

#goombas {
  background-image: url(images/goombas.png);
  top: 50px;
  left: -20px;
  /* border: 1px solid blue; */
}

#bobombs {
  /* background-size: cover; */
  background-image: url(images/bomb.png);
  top: 400px;
  left: -30px;
}
/* working here */

#cheepcheeps {
  /* background-size: cover; */
  background-image: url(images/cheep.png);
  top: 50px;
  right: -30px;
}

main {
  width: 1117px;
  height: 584px;
}

form {
  width: 1116px;
  height: 581px;
}

input {
  position: absolute;
  width: 50px;
  border-radius: 15px;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  top: 150px;
  left: 65px;
  border: transparent 0px solid;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff, 0 1px 0 #fff;
}

.goombas-input {
  font-family: 'supermario';
  font-size: px;
  color: grey;
  left: 65px;
  border: 1px solid brown;
}

.bobombs-input {
  font-family: 'supermario';
  font-size: x-larger;
  color: grey;
  top: 500px;
  left: 65px;
  border: 1px solid black;
}

.cheepcheeps-input {
  font-family: 'supermario';
  font-size: x-larger;
  color: grey;
  left: 980px;
  top: 150px;
  border: 1px solid red;
}

.coin {
  position: absolute;
  background-size: cover;
  width: 50px;
  height: 60px;
}

.pile {
  position: absolute;
  background-size: cover;
  width: 170px;
  height: 290px;
}

#pile-of-cash {
  background-image: url(images/pile.png);
  top: 250px;
  left: 900px;
}

#goombas-coins {
  background-image: url(images/coin.png);
  top: 30px;
  left: 50px;
  font-family: 'supermario';
  color: #4177e0;
  font-size: x-large;
}

#bobombs-coins {
  background-image: url(images/coin.png);
  bottom: 140px;
  left: 50px;
  font-family: 'supermario';
  color: #4177e0;
  font-size: x-large;
}

#cheepcheeps-coins {
  background-image: url(images/coin.png);
  right: 38px;
  top: 30px;
  font-family: 'supermario';
  color: #4177e0;
  font-size: x-large;
}

.cheepcheeps-price {
  /* border: 1px solid red; */
  font-size: 21px;
  float: right;
}

button {
  background-image: url('images/submit.png');
  background-size: cover;
  background-color: red;
  border: none;
  position: absolute;
  bottom: 100px;
  left: 65%;
  width: 155px;
  height: 48px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
  cursor: pointer;
}
button:hover {
  transition: all 0.1s ease;
  background-color: gold;
}

#result {
  background-size: cover;
  font-family: 'supermario';
  color: red;
  top: 435px;
  width: 60px;
  padding: 15px;
  left: 82%;
  background-color: #f1d805;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
footer p {
  text-align: center;
  color: white;
  font-weight: lighter;
  letter-spacing: 1px;
  font-family: 'supermario';
  color: #4177e0;
}
footer a {
  text-decoration: none;
  color: red;
}
