* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background: black;
  color: white;
}

header {
  margin: 10px auto;
  font-size: 50px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.row1,
.row2 > h4 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row1,
.row2,
.row3 {
  flex: 1;
  width: 100%;
}

.inputandbomb,
.inputandgomba,
.inputandfish {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.bobombs-container {
  grid-column: 2/3;
  grid-row: 1/3;
  outline: 2px solid red;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.goombas-container {
  grid-column: 2/3;
  grid-row: 3/5;
  outline: 2px solid green;
}

.cheepcheeps-container {
  grid-column: 2/3;
  grid-row: 5/7;
  outline: 2px solid yellow;
}
.bobombs-container,
.goombas-container,
.cheepcheeps-container {
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
img {
  height: 50px;
}
input {
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: red;
}
h4 {
  font-size: 10px;
}

#submit-btn {
  padding: 12px;
  color: white;
  margin: 10px;
  background: blue;
}
.result-container {
  background: red;
  color: pink;
}
.result-container > input {
  width: 150px;
}
footer {
  background: black;
  color: white;
}
a {
  text-decoration: none;
  color: red;
}
a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 700px) {
  body {
    background: grey;
    color: black;
  }

  .main-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    margin: 25vh 20vw;
  }

  .bobombs-container {
    grid-column: 2/3;
    grid-row: 5/7;
  }
  .cheepcheeps-container {
    grid-column: 3/4;
    grid-row: 5/7;
  }
  .goombas-container {
    grid-column: 4/5;
    grid-row: 5/7;
  }
  #submit-btn {
    padding: 30px;
  }
}
