body {
  background-color: brown;
  /* background-image: url(images/download.png);
  background: no-repeat; */
}

.success,
.error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background: green;
}

.error {
  background: red;
}

.main-heading {
  color: white;
  text-align: center;
}

#submit {
  background-color: blue;
  color: white;
}

.completed {
  text-decoration: line-through;
  color: red;
}

bold {
  color: red;
  opacity: 0.2;
}
