* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  text-align: center;
  position: relative;
  left: 40vw;
  height: 60vh;
  width: 20vw;
  padding: 2vh, 2vw;
  margin: 1vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.place {
  position: absolute;
  background-color: black;
  color: white;
  top: 0;
  width: 20vw;
  height: 20vh;
}

.price {
  position: absolute;
  top: 20vh;
  background-color: white;
  width: 20vw;
  height: 20vh;
}

.Winter {
  background-color: rgb(201, 197, 197);
  position: absolute;
  bottom: 0;
  width: 20vw;
  height: 22vh;
}

.Spring {
  background-color: rgb(93, 189, 93);
  position: absolute;
  bottom: 0;
  width: 20vw;
  height: 22vh;
}

.Fall {
  background-color: orange;
  position: absolute;
  bottom: 0;
  width: 20vw;
  height: 22vh;
}

.Summer {
  background-color: rgb(107, 107, 199);
  position: absolute;
  bottom: 0;
  width: 20vw;
  height: 22vh;
}

h3,
p {
  padding: 2vh;
  text-align: center;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  font-size: 4vh;
}

p {
  border-bottom: 1vh solid red;
  margin: 0 4vw;
  color: black;
}

.money {
  border: none;
  color: rgb(57, 131, 54);
  font-size: 3vw;
  padding: 0;
}

.location {
  border: 1px solid black;
  border-radius: 8%;
  background-color: white;
  font-size: 2vh;
  font-family: Impact, Charcoal, sans-serif;
}

.season {
  font-size: 2vw;
  font-family: 'Arial Black', Gadget, sans-serif;
  color: rgb(41, 41, 230);
}

.cash {
  color: gold;
}
