* {
  /* YOU NEED TO HAVE THESE  */
  box-sizing: border-box;
  font-size: 0;
  padding: 0;
  margin: 0;
}

.top1,
.mid,
.mid-bottom,
.bottom1,
.bottom2 {
  height: calc(100vh / 9);
}

.top > .top1 {
  background-color: blue;
}
.midd4 > .mid {
  display: inline-block;
  width: 100%;
  background-color: #ee2e84;
  border: 1px solid white;
  border-left: none;
  border-right: none;
}

.midd2 > .mid-bottom {
  display: inline-block;
  width: 100%;
  background-color: #85cfd8;
  border: 1px solid white;
  border-left: none;
  border-right: none;
}

.bottom > .bottom1,
.bottom2 {
  display: inline-block;
}

.bottom1 {
  width: 100%;
  background-color: #8dc63f;
  border: 1px solid white;
  border-right: none;
}

.bottom2 {
  width: 100%;
  background-color: #e76e34;
  border: 1px solid white;
  border-left: none;
}

.bottom1 {
  border-left: none;
}

.bottom2 {
  border-right: none;
}

@media only screen and (min-width: 768px) {
  .top > .top1 {
    background-color: #f5c6d6;
    width: 100%;
  }

  .midd4 > .mid {
    display: inline-block;
    width: 25%;
    border: 1px solid white;
  }
  .midd4 > .mid:first-child {
    border-left: none;
  }
  .midd4 > .mid:last-child {
    border-right: none;
  }
  .midd2 > .mid-bottom {
    display: inline-block;
    width: 50%;
    border: 1px solid white;
  }
  .bottom > .bottom1,
  .bottom2 {
    display: inline-block;
  }
  .bottom > .bottom1 {
    width: 75%;
    border: 1px solid white;
  }
  .bottom > .bottom2 {
    display: inline-block;
    width: 25%;
  }

  .top1,
  .mid,
  .mid-bottom,
  .bottom1,
  .bottom2 {
    height: calc(100vh / 4);
  }
}
