* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .usersNames {
  background-color: #282c34;
  min-height: 25vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 20px solid red;
  margin: 1vh 25%;
} */

form {
  border: 5px solid black;
  border-radius: 4%;
  margin: 2% 18%;
  background-color: green;
}

input {
  padding: 1%;
  height: 4vh;
  width: 24vw;
  margin: 20px;
  font-size: calc(10px + 1vmin);
  border: 5px solid black;
}

textarea {
  max-width: 84%;
  max-height: 15vh;
  font-size: calc(10px + 2vmin);
  margin-bottom: 10px;
  background-color: lightgray;
  border: 5px solid black;
}

button {
  font-size: calc(10px + 2vmin);
  padding: 10px;
  background-color: grey;
  color: white;
  border: 6px solid grey;
}
.container {
  margin: 30px;
  text-align: center;
}
