/* import font style from google fonts */
* {
  margin: 0;
  padding: 0;
  background: grey;
  height: auto;
}

.main-section {
  margin: auto;
}

/* mobile version */

/* tablet version */

/* desktop version */
