* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* only works in dev tools */
.parent {
  display: grid;
  grid-template-columns: repeat(1fr);
  column-gap: 10px;
  row-gap: 15px;
}

.child > img {
  height: 200px;
  width: 100vw;
}

.child {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
}

.child > button {
  position: absolute;
  font-size: 20px;
  bottom: 20px;
  text-align: center;
  padding: 10px;
  color: black;
  outline: none;
  font-family: Georgia;
}

.child > p {
  position: absolute;
  text-align: center;
  top: 0;
  color: red;
  font-size: 10vw;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

@media only screen and (min-width: 800px) {
  .parent {
    grid-template-columns: repeat(3, 1fr);
  }
}
