* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  position: relative;
  justify-content: center;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 50vh;
  width: 40vw;
  border: 2px solid black;
  padding: 10pt;
  text-align: center;
}

button {
  position: absolute;
  top: 60pt;
  background: grey;
  height: 20pt;
  color: white;
  display: inline-block;
  height: 20pt;
  width: 40pt;
  outline: none;
  margin: 10pt 0pt;
}

h1 {
  font-size: 16pt;
  margin-bottom: 20pt;
}
