* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box-container {
  background-image: url(images/download.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  width: 1100px;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, 100px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
}

.box {
  height: 100px;
  width: 100px;
  margin-top: 50px;
  border: 2px solid black;
}

.main-heading {
  padding: 1vh;
  text-align: left;
  padding-left: 20px;
  font-size: 50px;
}

.btn-container {
  border: 10px solid red;
}

.small-time {
  background-color: black;
  padding: 2vh;
  font-size: 2vh;
  color: white;
}

.party-dj {
  background-color: purple;
  padding: 2vh;
  font-size: 2vh;
  color: white;
}

.pro-dj-left-btn {
  background-color: white;
  padding: 2vh;
  font-size: 2vh;
  color: blue;
}

.pro-dj-right-btn {
  background-color: blue;
  padding: 2vh;
  font-size: 2vh;
  color: white;
}
