* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box-container {
  background-color: orange;
  position: relative;
  width: 100vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, 100px);
  grid-column-gap: 2vw;
  grid-row-gap: 2vh;
  justify-content: center;
}

.box {
  margin-top: 10vh;
  height: 100px;
  width: 100px;
  border: 2px solid blue;
}

.small-time {
  background-color: red;
  padding: 2vh;
  font-size: 2vh;
  color: white;
}

.party-dj {
  background-color: blue;
  padding: 2vh;
  font-size: 2vh;
  color: white;
}
.main-heading {
  padding: 1vh;
  text-align: center;
  font-size: 50px;
}

.pro-dj-left-btn {
  background-color: green;
  padding: 2vh;
  font-size: 2vh;
  color: white;
}

.pro-dj-right-btn {
  background-color: black;
  padding: 2vh;
  font-size: 2vh;
  color: white;
}
