* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  display: flex;
  /* row, column  column-reverse*/
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.box {
  display: inline-block;
  height: 100pt;
  width: 100pt;
  background: #333;
  margin: 5pt;
}

.first {
  background: red;
}
.last {
  background: blue;
}
