* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1fr);
  row-gap: 10px;
  height: 100vh;
}

.child > img {
  height: 200px;
}

.child {
  height: 300px;
  position: relative;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.child > p {
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

@media only screen and (min-width: 500px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    justify-content: center;
    column-gap: 10px;
  }
}
