* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* headings */
.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1vh 0;
}

.heading {
  padding: 1vh 0;
}
.article-header {
  font-size: calc(1vh + 2vmin);
}

.dream-jobs {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1vh 0;
  border: 1px solid red;
}

.passion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1vh 0;
}

/* containers */
.nav-container {
  background-color: #1c2e52;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1vh 0;
}

.article-container {
  background-color: #062c79;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding: 0 1vw;
}

.article-paragraph {
  font-size: calc(1vh + 2vmin);
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
